<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBR1jL2y1leHp2DQ8irxYrEGl_mTHaVK4s</string>
	<key>GCM_SENDER_ID</key>
	<string>345005927248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.basicViewTaks1</string>
	<key>PROJECT_ID</key>
	<string>basic-view-task-01</string>
	<key>STORAGE_BUCKET</key>
	<string>basic-view-task-01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345005927248:ios:0111230a69688de6729a55</string>
</dict>
</plist>